$white: #fff;
$black: #333;
$black2: #222;
$modal_black:  rgba(0,0,0,.5);
$light-gray: #e6e6e6;
$light-gray2:#fafafa;
$light-gray3: #d3d3d3;
$red: #ea3f60;
$light-blue: #55acee;
$gray: #787c7b;
$facebook-navy: #3b5998;