.articles-container {
  width: 100%;
  margin-top: 82px;
}

.articles-header {
  padding: 70px 60px 25px;
  &__title {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 2px;
  }
}

.articles-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.article-list-item {
  background-color: $white;
  border: 1px solid $light-gray;
  border-radius: 4px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.1); 

  &__imgContainer {
    width: 100%;
  }

  &__img {
    width: 50vw;
    height: 50vh;
    object-fit: cover;
  }

  &__info {
    margin: 16px 8px;
  }

  &__title {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: .04em;
    word-break: break-all;
    line-height: 1.5;
  }

  &__description {
    margin-top: 10px;
    line-height: 1.5;
    text-align: justify;
    word-break: break-all;
    font-size: 14px;
  }

  &__status_container {
    display: flex;
  }

  &__status {
    display: flex;
    margin-top: 10px;
    font-size: 14px;
    &--price {
      margin-left: 16px;
    }

    &--like {
      color: $red;
    }
  }

  &__label {
    margin-left: 5px;
  }

  &__footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__like {
    margin-right: 20px;
    font-size: 22px;
    color: $light-gray3;
  }

  &__userName {
    font-size: 14px;
    color: $black2;
  }

  &__userDate {
    margin-top: 5px;
    font-size: 12px;
    color: $gray;
  }
}