<%= render "shared/another_header" %>
<main class="form-group">
  <section class="form-container form-container--articleForm">
    <%= render partial: 'form', locals: {btn_value: "編集する"} %>
  </section>
</main>