<header class="another-header-container">
  <div class="another-header-content">
    <h1 class="another-header-content__logo">
      <a href="/" class="another-header-content__logoLink">
        <%= icon("fas", "pencil-alt", class: "another-header-content__logoImg") %>
        MemoLog
      </a>
    </h1>
  </div>
</header>