<%= render "shared/another_header" %>
<main class="form-group">
  <section class="form-container">
    <div class="form-container__titleGroup">
      <div class="form-container__accountHave">
        <a href="/users/sign_up">
          <span class="form-container__anotherHaveText">アカウントお持ち出ない方はこちら</span>
        </a>
      </div>
      <h2 class="form-container__title">ログイン</h2>
    </div>
    <form class="register-form">
      <div class="register-form-content">
        <div class="register-form-group">
          <span class="register-form-group__require">必須</span>
          <input name="hoge" type="email" class= "register-form-group__textField register-form-group__textField--email", placeholder= "メールアドレス">
        </div>
        <div class="register-form-group">
          <span class="register-form-group__require">必須</span>
          <input name="hoge" type="password" class= "register-form-group__textField register-form-group__textField--password", placeholder= "パスワード（6 ~ 128文字以内の半角英数混合で入力してください">
        </div>
        <div class="register-form-submit">
          <input type="submit" value="ログイン" class="register-form-submit__btn a-btn a-btn--primary">
        </div>
      </div>
    </form>
    <div class="register-form-social">
      <h4 class="register-form-social__title">SNSアカウントでログイン</h4>
      <div class="register-form-social__btns">
        <div class="register-form-social__btn">
          <a href="#" class="register-form-social__link register-form-social__link--facebook a-btn a-btn--facebook">
            <%= icon("fab", "facebook-square", class: "a-icon a-icon--facebook register-form-social__icon--facebook") %>
            Facebook
          </a>
        </div>
        <div class="register-form-social__btn">
          <a href="#" class="register-form-social__link register-form-social__link--google a-btn a-btn--google">
            <%= icon("fab", "google", class: "a-icon a-icon--facebook register-form-social__icon--google") %>
            Google
          </a>
        </div>
      </div>
    </div>
  </section>
</main>